
#not_production{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($white,0.9);
    z-index: 25;
    display: flex;
    justify-content: center;
    align-items: center;
    #not_production_content{
        text-align: center;
        h6{
            font-weight: bold;
            color: $warning;
        }
    }
}
