
.kh-range{
    position: relative;
    width: 100%;
    input[type="range"]{
        appearance: none;
        outline: none;
        width: 100%;
        height: 5px;
        background-color: transparent;
        border-radius: 2px;
        z-index: 2;
        position: relative;

        &::-webkit-slider-thumb{
            -webkit-appearance: none;
            cursor: pointer;
            background-color: $white;
            border: 1px solid $gray-400;
            width: 10px;
            height: 10px;
            transform: scale(1.8);
            border-radius: 100%;
            margin-top: -4.2px;
            &:active{
                transition: transform 300ms linear;
                transform: scale(2);
                background-color: $primary;
                border-color: $primary;
            }
        }
        &::-ms-thumb{
            cursor: pointer;
            background-color: $white;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            &:active{
                transition: transform 300ms linear;
                transform: scale(1.4);
                background-color: $primary;
                border-color: $primary;
            }
        }
        &::-ms-track{
            background-color: $gray-400;
            height: 100%;
        }
        &::-webkit-slider-runnable-track{
            background-color: $gray-400;
            height: 100%;
        }


        &::-moz-range-progress{
            background-color: $primary;
            height: 100%;
        }
        &::-moz-range-track{
            background-color: $gray-400;
            height: 100%;
        }
        &::-moz-range-thumb{
            cursor: pointer;
            background-color: $white;
            width: 8px;
            height: 8px;
            transform: scale(1.8);
            border-radius: 100%;
            border: 1px solid $gray-400;
            &:active{
                transition: transform 300ms linear;
                transform: scale(2.0);
                background-color: $primary;
                border-color: $primary;
            }
        }
        &:active ~ .kh-range-indicator{
           display: inline-flex;
        }
    }
    .kh-range-indicator{
        justify-content: center;
        align-items: center;
        height: 24px;
        max-width: 36px;
        padding: 0 4px;
        background-color: $primary;
        position: absolute;
        left: -0.4%;
        top: -28px;
        border-radius: 4px;
        display: none;
        font-size: small;
        z-index: 2;
        &#{'-content'}{
            display: inline-block;
            color: $white;
        }
    }
   .step-container{
        width: 100%;
       height: 10px;
       position: absolute;
       bottom: 0;
       z-index: 0;
       span.step-item{
           width: 2px;
           height: 12px;
           background-color: $gray-500;
           display: inline-block;
           position: absolute;
           left: 40%;
           bottom: 2px;
           z-index: 0;
       }
    }

}
